<h1>Board</h1>
<div class="board">

  <h3>1<%= @board.letter_1 %></h3><br>
  <h3>2<%= @board.letter_2 %></h3><br>
  <h3>3<%= @board.letter_3 %></h3><br>
  <h3>4<%= @board.letter_4 %></h3><br>
  <h3>5<%= @board.letter_5 %></h3><br>
  <h3>6<%= @board.letter_6 %></h3><br>
  <h3>7<%= @board.letter_7 %></h3><br>

</div><br>
