<!DOCTYPE html>
<html>
<head>

</head>
    <div class="cd-container">
    <div class="cd-card" width="20px"></div>
    <div class="cd-card"><h1><%= @board.letter_1 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_2 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_3 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_4 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_5 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_6 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_7 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_8 %></h1></div>
    <div class="cd-card"><h1><%= @board.letter_9 %></h1></div>

</div><br>

<div class="audio-container">
    <h3>Start the clock!</h3>
        <audio controls> 
            <source src="/clock.mp3">
        </audio>
</div>