<h1>Board</h1>
<h1>My name is <%=@letter_1%></h1>

<div class="board">

  <h3><%= @letter_1 %></h3><br>
  <h3><%= @letter_2 %></h3><br>
  <h3><%= @letter_3 %></h3><br>
  <h3><%= @letter_4 %></h3><br>
  <h3><%= @letter_5 %></h3><br>
  <h3><%= @letter_6 %></h3><br>
  <h3><%= @letter_7 %></h3><br>

</div><br>
